<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .parallax {
        /* The image used */
        background-image: url("/static/img/photo_2022-10-06_21-46-49.jpg");

        /* Set a specific height */
        min-height: 400px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      h1 {
        height: 45px;
      }
    </style>
  </head>
  <body>
    <%-
    include('./navbar',{id:locals.id,c:locals.isAuthentication,admin:locals.admin})%>
    <div class="parallax d-flex align-items-center m-0">
      <div class="container">
        <h1
          class="element m-0 p-0 d-flex justify-content-center text-info"
        ></h1>
      </div>
    </div>
    <div class="rounded-0 mt-5"></div>
    <%-include('./footer')%>
    <script src="../static/js/typed.js"></script>
    <script>
      var options = {
        strings: [
          "BIZ BILAN BOG'LANISH",
          "MAQOLAUZ RAXBARYATI TEL +998937223620",
          "MAQOLAUZ RAXBARYATI ELIKTRON POSHTA shaxzodbahtiyarov0@gmail.com",
        ],
        typeSpeed: 40,
        startDelay: 1000,
        //smartBackspace: true,
        backSpeed: 30,
        //shuffle: true,
        loop: true,
        loopCount: 10000,
        showCursor: false,
        cursorChar: "|",
        autoInsertCss: true,
        bindInputFocusEvents: true,
        contentType: "html",
      };

      var typed = new Typed(".element", options);
    </script>
  </body>
</html>
