<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAQOLAUZ</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4150080428382760"
     crossorigin="anonymous"></script>
     <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P4ZBGSN');</script>
  <!-- End Google Tag Manager -->
    <style>
      .parallax {
        /* The image used */
        background-image: url("../static/img/photo_2022-10-06_21-45-36.jpg");

        /* Set a specific height */
        min-height: 400px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      h1{
        height: 45px;
      }
    </style>
  </head>
  <body>
    <%-
    include('./navbar',{id:locals.id,c:locals.isAuthentication,admin:locals.admin})%>
    <div class="parallax d-flex align-items-center m-0">
      <div class="container">
        <h1 class="element m-0 p-0 d-flex justify-content-center text-info"></h1>
      </div>
    </div>
    <div class="rounded-0 mt-5">
    
      <div class="row m-2">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <div class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores molestiae unde in numquam pariatur, fugiat quas illum? Accusamus nisi sed optio. Quas perferendis dolorem deserunt excepturi veritatis inventore odit voluptate?</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-2 mt-lg-0">
            <div class="card">
              <div class="card-body">
                <div class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores sunt debitis ut in dolore? Quibusdam repudiandae exercitationem similique, error quas amet ex tempore totam tempora, incidunt corporis dolorem voluptas culpa!</div>
              </div>
            </div>
          </div>
      
    </div>
</div>
    <%-include('./footer')%>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
      var options = {
        strings: [
          "BU BOSH SAHIFA",
          "MAQOLA<span style='color:red'>UZ </span> SAYTIGA XUSH KELIBSIZ!",
        ],
        typeSpeed: 40,
        startDelay: 1000,
        //smartBackspace: true,
        backSpeed: 30,
        //shuffle: true,
        loop: true,
        loopCount: 10000,
        showCursor: false,
        cursorChar: "|",
        autoInsertCss: true,
        bindInputFocusEvents: true,
        contentType: "html",
      };

      var typed = new Typed(".element", options);
    </script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T58M20F2V9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T58M20F2V9');
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();
  for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(91362942, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true
  });
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4ZBGSN"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<noscript><div><img src="https://mc.yandex.ru/watch/91362942" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  </body>
</html>
